* { margin: 0px; padding: 0px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 0; vertical-align: baseline; }

body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; overflow-x: hidden; background-color: #000; }

/*=== Import Fonts ===*/
@font-face { font-family: "Roboto Light"; src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"); }

@font-face { font-family: "Roboto Regular"; src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face { font-family: "Roboto Medium"; src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"); }

@font-face { font-family: "Roboto SemiBold"; src: url("../fonts/Roboto/Roboto-Semibold.ttf") format("truetype"); }

@font-face { font-family: "Roboto Bold"; src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"); }

@font-face { font-family: "Didact Gothic Light"; src: url("../fonts/Didact Gothic/Didact Gothic-Light.ttf") format("truetype"); }

@font-face { font-family: "Didact Gothic Regular"; src: url("../fonts/Didact Gothic/Didact Gothic-Regular.ttf") format("truetype"); }

@font-face { font-family: "Didact Gothic Medium"; src: url("../fonts/Didact Gothic/Didact Gothic-Medium.ttf") format("truetype"); }

@font-face { font-family: "Didact Gothic SemiBold"; src: url("../fonts/Didact Gothic/Didact Gothic-Semibold.ttf") format("truetype"); }

@font-face { font-family: "Didact Gothic Bold"; src: url("../fonts/Didact Gothic/Didact Gothic-Bold.ttf") format("truetype"); }

/*=== Typography Styling ===*/
body { font-family: "Roboto Regular"; font-size: 1rem; color: #fff; font-weight: 400; line-height: 1rem; }

section { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100vw; height: 85vh; }

aside { width: 15%; height: 100%; border: solid 1px #fff; padding: 15px 10px; overflow-y: auto; }

aside::-webkit-scrollbar { width: 15px; }

aside::-webkit-scrollbar-track { background-color: #e4e4e4; border-radius: 100px; }

aside::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); background-color: #818181; border: 3px solid #e4e4e4; border-radius: 100px; }

.container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; max-width: 70%; height: 100%; padding: 0; border: solid 1px #fff; }

nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 15%; border: solid 1px #fff; }

main { width: 100%; height: 85%; border: solid 1px #fff; padding: 15px 10px; overflow-y: auto; }

main::-webkit-scrollbar { width: 15px; }

main::-webkit-scrollbar-track { background-color: #e4e4e4; border-radius: 100px; }

main::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); background-color: #818181; border: 3px solid #e4e4e4; border-radius: 100px; }

footer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100vw; height: 15vh; border: solid 1px #fff; }
/*# sourceMappingURL=style.css.map */